@CHARSET "UTF-8";

body {
	background-color: #424242;
	margin: 0 0 100px;
	}

html {
    position: relative;
    min-height: 100%;
}	

#signon {
	display: block; 
	font-family: 'Architects Daughter', cursive;
	color: #15b0b4;
	background-color: rgba(0,0,0,0.5);
	margin-top: 15px; 
}

#signon table {
	color: #15b0b4;
	font-size: 1.20em; 
}

#signonheader {
	position: absolute;
	left: 50vw;
	margin-left: -475px; 
	top: 15px; 
}
	
#wrapper {	
	color: #15b0b4;
	font-family: 'Architects Daughter', cursive;
	font-size: 1.05em;
	background-position: center center;
	width: 100%; 
	word-wrap: break-word;
	background-color: #424242;	
	position: relative;
	text-align: center;
}

#header {
	background-color: #00a6b5; 
	font-family: 'Architects Daughter', cursive;
	text-shadow: #424242 0 4px;
	height: 160px; 
	margin-top: -8px; 
	margin-right: 5px;
	margin-left: 5px;
	border-radius: 0px 0px 45px 45px;	
}

#footer {
	background-color: #00a6b5; 
	font-family: 'Architects Daughter', cursive;
	text-shadow: #424242 0 2px;
	height:60px;
	width: 99%;
	bottom: 0;
    position: absolute;
	margin-right: 6px;
	margin-left: 6px;
	border-radius: 45px 45px 0px 0px;
	text-align: center;	
	color: white;
	line-height: 60px;
	vertical-align: middle;
}

#footer a {
	text-decoration: none;
	color: inherit;
}

#footer img {
	height: 60px;
	position: absolute;
	left: 50%;
	margin-left: -47px;
	bottom: 0;
}

.date {
	font-size: 0.8em;
	font-style: italic;
	font-weight: normal;
}

#logo {
	border-radius: 25px;
	margin-left: 10px;
	margin-top: 8px;
}

#headertext {
	position: relative;
	color: white;
	font-family: 'Architects Daughter', cursive;
	font-size: 1.8em;
	text-shadow: #424242 0 4px;
	margin-left: 165px; 
	margin-top: -40px; 	
}

#centered {
	width: 1px;
	height: 1px;
	overflow: visible, scroll;
	position: fixed;
	left: 50%;
	top: 50%;
	z-index: 10;
}

#signInterfacebook {
	display: none;
	width: 50vw;
	padding: 1.0em;
	border: 4px solid grey;
	background-color: #00a6b5;
	border-radius: 45px;
	position: absolute;
	opacity: .95;
	min-width: 255px;
}

#emoticon-container {
	margin-left: 8%;
	margin-right: 10%;
	display: block;
}

.emoticon-containerchoice {
	opacity: 1.0 !important;
}

#emoticon-container img {
	width: 30px; 
	cursor: pointer; 
	opacity: .80; 
	margin-top: 10px;
	display: inline-block;
}

#escape {
	position: absolute;
	width: 30px;
	height: 30px;;
}

.CommentForm {
	font-family: 'Architects Daughter', cursive;
	font-size: inherit;
	border-radius: 25px;
	display: block;	
	width: 99%;
	height: 10vh;
	margin-bottom: 10px;
	border: 2px dashed grey;
	background-color: white;
}


.ccomments {
	border: 2px solid grey;
	border-radius: 25px;
	padding: 2px 10px 10px 10px;
	margin-bottom: 5px;
}

.commentsblock {
	border-radius: 25px;
	border: 2px dashed grey;
	padding: 10px 10px 5px 10px;
	margin-bottom: 5px;
}

.commentheader {
	border-top: 1px solid gray;
	font-style: italic;
	background-color: #00a6b5;
	border-radius: 45px;
	padding: .5%;
	margin-top: 5px;
	color: white;
}

.label-form {
	font-family: 'Architects Daughter', cursive;
	font-size: 1.2em;
	text-align: center;
	vertical-align: top;
	border-radius: 25px;
	display: block;
}

.dropzone {
	border: 2px dashed grey;
	border-radius: 25px;
	margin-bottom: 10px;
	padding: 1.0px !important;
}
				
form textarea {
	width: 90%;	
	font-family: 'Architects Daughter', cursive;
	font-size: inherit;
	margin-top: 10px;
	border-radius: 25px;
	height: 30vh;
	border: dashed 2px grey;
}

form img {
	cursor: pointer; 
	opacity: 1; 
}

#formTagline {
	color: white;
	margin-bottom: 20px; 
	margin-top: -10px;
	text-align: center;
	margin-left: 10px;
	margin-right: 10px;
	font-family: 'Architects Daughter', cursive;
}

.users {
	cursor: pointer;
}

h1 {
	margin-bottom: 10px; 
	margin-top: 10px;
	text-align: center;
	color: #15b0b4;
	font-family: 'Architects Daughter', cursive;
}

button {
	cursor: pointer; 
}

#share-button {
	text-align: center; 
}

#entries {
	display: inline-block;	
	width: auto;
}

.entry {
	width: 80ch;
	background-color: white;
	color: black;
	margin-bottom: 5px; 
	border-radius: 25px; 
	border: solid 3px grey;
	border-shadow: white 0px 5px;
	text-align: left;
	padding-left: 10px;
    padding-right: 10px;
}
	
.entry-header {
	font-size: 1.2em;
	font-style: italic;
	background-color: #00a6b5;
	border-radius: 45px;
	padding: 1%;
	margin-top: 5px;
	color: white;
}

.resize {
	width: 25px; 
}

.photosize {
	display:block;
	width: 150px;
	height: 150px;
	margin-top: 5px;
	margin-bottom: 10px;
	border-radius: 25px;
	margin-right: auto;
	margin-left: auto;
	border: solid 3px grey;
}

.cclick{
     cursor:pointer;
     color:blue;
}

#sidebar {
		background-color: white;
		color: black;
		word-wrap: break-word;
		border-radius: 25px;
    	padding-left: 10px;
    	padding-right: 10px;
    	padding-bottom: 10px;
		border: solid 3px grey;
		margin-right: auto;
		margin-left: auto;
		margin-bottom: 10px;
		width: 15ch;
		height: 40%;
		text-align: center;
		display: inline-block;
		vertical-align: top;
}

.sidebar-header {
		font-size: 1.2em;
		font-style: italic;
		background-color: #00a6b5;
		border-radius: 45px;
		padding: 1%;
		margin-top: 5px;
		color: white;
}

.clear {
	clear: both;
}

.login {
		display:block;
		float: right;
		text-decoration:  none;
		font-size: 2.0em;
		padding-right: 8px;
		margin-top: 5px;
		color: white;
		font-weight: bold;	
}

.logoff {
		display:block;
		float: right;
		text-decoration:  none;
		font-size: 1.8em;
		padding-right: 8px;
		margin-top: 5px;
		color: white;
		font-weight: bold;	
}

a.logoff:hover {
		font-style: italic;	
}

@media all and (max-width: 1065px) { 
	.CommentForm {
		width: 59.5ch;
	}

	.entry {
		width: 60ch;
	}
}

@media all and (max-width: 982px) {
	#sidebar {
		width: 18ch;
	}
	
	.label-form {
		text-align: center;
	}
}

@media all and (max-width: 882px) { 
	#sidebar {
		width: 20ch;
	}
	
	.CommentForm {
		width: 39.5ch;	
	}
	
	.entry {
		width: 40ch;
	}
}

 @media all and (max-width: 609px) {
	#sidebar {
		width: 22ch;
	}

	form textarea {
		height: 20vh;
	}
	
	#escape {
		width: 20px;
		height: 20px;
	}
	
	.CommentForm {
		width: 21.5ch;
	}	
	
	.entry {
		width: 22ch;
	}
	
	#emoticon-container {
		display: block;
	 	margin-left: 20px;
	}	
}
